<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Template</title>
</head>
<body>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .row.content {height: 650px}

    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    .container {
      margin-top: 20px;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
  </style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                      
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href='/'>На главную</a></li>
        <li class="active"><a href='/templates'>Temlates</a></li>        
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
  <div>
  </div>
  	<form action="/edit" method="post" data-success="edit template created!!!" class="form-horizontal">
      
      <div class="form-group">
      <label class="control-label col-sm-2" for="type">Template type:</label>
        <div class="col-sm-4">
          <input type="text" name="typ" class="form-control" placeholder="Enter type" value="<%=@typ%>">
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" for="type">Template language:</label>
        <div class="col-sm-4">
          <input type="text" name="lang" class="form-control" placeholder="Enter language" value="<%=@lang%>">
        </div>
      </div>

      <div class="form-group">
      <label class="control-label col-sm-2" for="type">Template massage:</label>
        <div class="col-sm-4">
          <input type="text" name="message" class="form-control" placeholder="Enter message" value="<%=@file_params%>">
        </div>
      </div>

    <h4>template example: {"message" : "OpenWallet. - confirmation code  -%s do not share this code "} <br></h4> 
    
    <input class="btn btn-success" type="submit" value="Update Temlate">
        
  	</form>
  </div>
</body>
</html>