<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h1>Hello sms!</h1>
	<div class="btn btn-success"><a href="/new_template">add new template</a></div>
	<% @templates.each do |file| %>
	<%= file %> <br>
	<li><div class="btn btn-success"><a href="/show/<%= file %>">show</a></div></li>
	<li><div class="btn btn-success"><a href="/delete/<%= file %>">delete</a></div></li>
	<%end%>

</body>
</html>

